<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="furbabies">
              <h1 class="heading">What You Could Do to Help</h1>
          </div>
      </div>
      
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">Donate</h5>
            <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p> 
      </div>
        </div>
        <!-- <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Virtually Adopt</h5>
            <p class="card-text">Virtually adopt a doggo </p> 
      </div>
        </div> -->
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Volunteer</h5>
            <p class="card-text">You could become a volunteer by completing the registration form. </p> 
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Spread Awareness</h5>
            <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p> 
      </div>
        </div>    
      </div>
      
    </div>