<div class="heading">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="furbabies">
                <h1 class="heading bounce-in-bottom">What You Could Do to Help</h1>
            </div>
        </div>
        
    </div>
  </div>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">Become A Paw Member</h5>
            <button class="tell-me-more" data-toggle="modal" data-target="#modalId">Tell Me More</button>
            <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title"></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <h5>Donate a minimum of R50 to become a paw member</h5>
                            <div class="col-md-6">
                              <div class="card">
                                <div class="card-body">
                                  <h6>Our Banking Details:</h6>
                                  <p><span>Summerveld Hound Resort</span></p>
                                  <p><span>Bank:</span> Nedbank</p>
                                  <p><span>Account Number:</span> 1188985205</p>
                                  <p><span>Branch Code:</span> 133826</p>
                                  <p><span>Account Type:</span> Business PayU / Current</p>
                                  <p><span>Reference:</span> Your name</p>
                                </div>
                              </div>
                            
                            </div>
                            <div class="col-md-6">
                              <div class="card">
                                <img src="https://i.ibb.co/RPCpvbk/zapper.png">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
            <button class="sign-me-up" href="#" routerLink="/summerveldhoundresort/volunteer-form">Sign Me Up</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/7357/startup-photos.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Sponsor A Kennel Project</h5>
            <button class="tell-me-more">Tell Me More</button>
            <button class="sign-me-up">Sign Me Up</button>

      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/262550/pexels-photo-262550.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Our Sanctuary Wish List</h5>
            <button class="tell-me-more">Tell Me More</button>
            <button class="sign-me-up">Sign Me Up</button>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
        <img src="https://static.pexels.com/photos/326424/pexels-photo-326424.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">Lend A Paw Volunteer</h5>
            <button class="tell-me-more">Tell Me More</button>
            <button class="sign-me-up">Sign Me Up</button>
      </div>
        </div>    
      </div>
      
    </div>


    <!-- footer -->
<div class="footer">
  <div class="footer-container">
      <div class="row">
          <div class="col-md-4">
            <div class="first">
            <div class="card .mx-auto d-flex justify-content-center">
                <h4>About</h4>
                <p>We are a forever home to <br> 
                  our rescues because we believe <br>
                  that they are part of our family.<br> 
                  We provide our rescues with a safe <br>
                  haven & a better quality of life in <br>
                  a family environment.</p> 

            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="social_profile">
                  <ul>
                  <li><p>follow us on: </p></li>
                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
              <div class="second">
                <div class="card .mx-auto d-flex justify-content-center">
                  <h4> Navigate</h4>
                  <ul>
                      <li><a class="nav-link" href="#" routerLink="/summerveldhoundresort/about">About Us</a> <i class="fa fa-paw"></i>
                      </li>
                      <li><a class="nav-link" href="#" routerLink="/summerveldhoundresort/doggo">Our Dogs</a> <i class="fa fa-paw"></i>
                      </li>
                      <li><a class="nav-link" href="#" routerLink="/summerveldhoundresort/volunteer">What you could do</a> <i class="fa fa-paw"></i>
                      </li>
                  </ul>
                </div>
              </div>
          </div>

          <div class="col-md-4">
              <div class="third">
                <div class="card .mx-auto d-flex justify-content-center">
                  <h4> Contact</h4>
                  <!-- Phone: <span itemprop="telephone"><a href="tel:+123456890">Vyaksha Singh</a> -->

                   <p>Vyaksha Singh</p>
                  <a style= "font-weight: 100;"href="tel:+2746827149"> <i class="fa fa-phone"></i>  +27646827149</a>
                    <br>
                    <a href = "mailto: singhvyaksha@gmail.com"><i class="fa fa-envelope"></i>  singhvyaksha<br>@gmail.com</a>
                    <br>
                    <p><i class="fa fa-map-marker"></i>  7A Bowles Rd<br> Assagay<br>  3650</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="line"></div>
              <div class="second2">
                  <a href="https://codepen.io/AndreeaBunget" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                  <a href="https://github.com/WebDeveloperCodeRep" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                  <a href="https://www.linkedin.com/in/andreea-mihaela-bunget-a4248812b/" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                  <a href="https://www.youtube.com/channel/UCX674BUbomzBCakbb75lhfA?view_as=subscriber" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

              </div>

          </div>
      </div>
      </div> -->
</div>


