<div class="container">
    <div class="header">
      <span class="login">Sign Up to become a Volunteer</span>
    </div> <!-- end header -->
  
    <hr />
  
    <form>
      <div class="card">
  <input type="text" name="first" id="name" placeholder="Name" />
      <input type="text" name="surname" id="name" placeholder="Surname" />
      <input type="text" name="id" id="id" placeholder="Id Number" />
      <input type="email" name="email" id="email" placeholder="Email Address" />
      <input type="text" name="number" id="number" placeholder="Contact Number" />
      <input type="text" name="address" id="address" placeholder="Address" />
      <input type="text" name="suburb" id="suburb" placeholder="Suburb" />
      <input type="text" name="city" id="city" placeholder="City" />
      <input type="text" name="postCode" id="postCode" placeholder="Post Code" />
      <input type="text" name="reason" id="reason" placeholder="Reason for Volunteering" />
      <div class="help-block">By signing up you agree to our <a href="#">Terms/Privacy</a></div>
  
      <input type="submit" value="Sign Up" />
      </div>
    
    </form>
  
  </div> <!-- end container -->