<div class="container">
    <div class="row">
        <div class="about">
            <h1 class="heading">A Bit About Us ...</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="container" style="margin-top: 3px;">
        <div class="dog">
          <div class="dog-head">
            <div class="dog-ears ears-left"></div>
            <div class="dog-ears ears-right"></div>
            <div class="dog-eyes"></div>
            <div class="dog-mouth">
              <div class="dog-nose"></div>
              <div class="dog-tongue"></div>
            </div>
          </div>
          <div class="dog-tail"></div>
          <div class="dog-body">
            <div class="dog-foot"></div>
          </div>
          <div class="ball"></div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="about">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Who are we?</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>We are a family operated animal rescue. Our NPO (NPO 225-939) does not receive government or municipal funding, we rely solely on donations from the public.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Our Mission</h2>

                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Our mission is to rescue and rehabilitate neglected, abused and unwanted animals. We also aim to raise awareness and promote the welfare of all animals.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Visit Us</h2>

                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">How we operate</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>We are a forever home to our rescues because we believe that they are part of our family. We provide our rescues with a safe haven & a better quality of life in a family environment.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Why we don't rehome</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>We did attempt to rehome some of our rescues numerous times, homechecks were even done & approved, but during our surprise visits we were appalled at seeing their conditions. </p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <div class="flip-card">
                                <div class="flip-card-inner">
                                  <div class="flip-card-front">
                                    <h2 class="card-title">Where to find us</h2>
                                    <i class="fa fa-paw"></i>
                                  </div>
                                  <div class="flip-card-back">
                                    <p>Dummy Text Paragraph. Dummy Text Paragraph. Dummy Text Paragraph.</p> 
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="meet-our-team">
    <div class="container">
        <div class="row">
            <div class="team">
                <h1 class="team-heading">Meet Our Team</h1>
            </div>
        </div>
    </div>
<div class="box-container">
    <div class="card">
      <div class="social"><a class="fa fa-twitter" href="#"></a><a class="fa fa-facebook" href="#"></a><a class="fa fa-instagram" href="#"></a></div>
      <div class="pic"><img src="https://i.ibb.co/7n2FD66/Capture.png" alt="profile-picture" title="Someone Famous"/></div>
      <div class="content">
        <h3 class="title">Bikash Singh</h3><span>Director, Financial Assistant</span>
    </div>
    </div>
    <div class="card">
      <div class="social"><a class="fa fa-twitter" href="#"></a><a class="fa fa-facebook" href="#"></a><a class="fa fa-instagram" href="#"></a></div>
      <div class="pic"><img src="https://i.ibb.co/kc3SXRK/Capture1.png" alt="profile-picture" title="Someone Famous"/></div>
      <div class="content">
          <h3 class="title">Ishani Singh</h3><span>Animal Healer, Event Planner</span>
        </div>
    </div>
    <div class="card">
      <div class="social"><a class="fa fa-twitter" href="#"></a><a class="fa fa-facebook" href="#"></a><a class="fa fa-instagram" href="#"></a></div>
      <div class="pic"><img src="https://i.ibb.co/ZdDZN0m/3.png" alt="profile-picture" title="Someone Famous"/></div>
      <div class="content">
        <h3 class="title">Vyaksha Singh</h3><span>Marketing, Public Relations</span>
    </div>
    </div>
    <div class="card">
        <div class="social"><a class="fa fa-twitter" href="#"></a><a class="fa fa-facebook" href="#"></a><a class="fa fa-instagram" href="#"></a></div>
        <div class="pic"><img src="https://i.ibb.co/cb8djtV/4.png" alt="profile-picture" title="Someone Famous"/></div>
        <div class="content">
          <h3 class="title">Charushka Singh</h3><span>Animal Healer, Creative Designer</span>
        </div>
      </div>
  </div>
</div>
    