@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.about{
    margin-left: 50px;
    margin-right: 50px;
}
.about .card{
    margin-bottom: 20px;
    padding: 30px;
    border: 1px solid #583258;
}

.flip-card {
  background-color: transparent;
  width: 280px;
  height: 200px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(to bottom, #a976b6, #576574);
  color: #fff;
  text-transform: uppercase !important;
  padding: 50px;
  letter-spacing: 6px;
}
.card-title{
  font-size: 12px !important;
}
i{
    font-size: 50px !important;
    padding-top: 20px ;
}

.flip-card-back {
  /* background: linear-gradient(to bottom, #965d85, #70578f); */
  background-color: #745a7a;
  color: white;
  letter-spacing: 3px;
  padding: 30px;
  font-size: 11px;
  text-justify: newspaper !important;
  text-align: center;
  transform: rotateY(180deg);
  font-weight: 100;
  font-family: 'Raleway', sans-serif !important;
  text-transform: uppercase;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.heading .container{
  width: 100%;
	height: 100%;
  display: flex;
	justify-content: center;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-transform: uppercase;
}
.card .dog{
    background-color: white !important;
}
.dog {
	width: 160px;
	height: 186px;
    position: relative;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    padding: 50px;
}
@keyframes head {
	0% {
		transform: rotate(0deg);
	}
	30% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(-20deg);
	}
	80% {
		transform: rotate(-20deg);
	}
	90% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.dog-head {
	width: 100px;
  height: 90px;
  position: absolute;
	z-index: 5;
  top: 30px;
  left: calc(50% - 50px);
  background-color: #efc092;
  border-radius: 50%;
	animation: head 6s linear infinite;
}
.dog-head:before,
.dog-head:after {
  content: "";
  width: 79px;
  height: 50px;
  position: absolute;
  z-index: 5;
  top: 44px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-head:before {
  left: -7px;
  transform: rotate(50deg);
}
.dog-head:after {
  right: -7px;
  transform: rotate(-49deg);
}
.dog-mouth {
	width: 60px;
  height: 35px;
  background-color: #fee2d2;
  position: absolute;
  bottom: -15px;
  left: 20px;
  z-index: 10;
  border-radius: 50%;
}
.dog-mouth:after {
	content: "";
	width: 10px;
  height: 40px;
  background-color: #fee2d2;
  position: absolute;
  bottom: 30px;
  left: 24px;
  z-index: 10;
  border-radius: 20px;
}
.dog-nose {
	width: 16px;
	height: 10px;
	position: absolute;
	top: 8px;
	left: calc(50% - 8px);
	background-color: #000;
	border-radius: 50%;
}
@keyframes tongue {
	0% {
		height: 10px;
	}
	30% {
		height: 10px;
	}
	40% {
		height: 20px;
	}
	60% {
		height: 10px;
	}
	80% {
		height: 20px;
	}
	90% {
		height: 10px;
	}
	100% {
		height: 10px;
	}
}
.dog-tongue {
  width: 20px;
  height: 10px;
  position: absolute;
  top: 24px;
  left: calc(50% - 10px);
  background-color: #f4a4ad;
  border-radius: 0 0 10px 10px;
	animation: tongue 4s linear infinite;
}
.dog-eyes {
	width: 10px;
  height: 16px;
  background-color: #000;
  position: absolute;
  top: 52px;
  left: 28px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 33px 0px 0px #000;
}
.dog-eyes:after {
  content: "";
  width: 92px;
  height: 50px;
  position: absolute;
  top: -50px;
  left: -24px;
  background-color: #efc092;
  border-radius: 50%;
}
.dog-ears {
  width: 80px;
	height: 50px;
	position: absolute;
	z-index: 0;
	top: -2px;
	border-radius: 150px 0 150px 0;
	background-color: #efc092;
}
.dog-ears:after {
	content: "";
  width: 50px;
	height: 30px;
	position: absolute;
	z-index: 0;
	top: 8px;
	left: 20px;
	border-radius: 150px 0 150px 0;
	transform: rotate(-176deg);
	background-color: #fee2d2;
}
.ears-left {
	left: -22px;
	transform: rotate(-105deg);
}
.ears-right {
	right: -22px;
	transform: rotate(-22deg);
}
.dog-body {
  width: 54px;
  height: 60px;
  position: absolute;
  top: 120px;
  left: calc(50% - 35px);
  background-color: #d58b4e;
  border-radius: 49px 0 0 20px;
}
.dog-body:before {
  content: "";
  width: 50px;
  height: 60px;
  position: absolute;
  top: 3px;
  left: calc(50% - 17px);
  background-color: #efbf8e;
  border-radius: 100px 100px 0 0;
}
.dog-body:after {
  content: "";
  width: 15px;
  height: 30px;
  position: absolute;
  top: 32px;
  left: 28px;
  background-color: #d58b4e;
  border-radius: 100px 100px 0 0;
}
.dog-foot {
	width: 20px;
  height: 13px;
  position: absolute;
  z-index: 5;
  bottom: -3px;
  left: 8px;
  background-color: #fce2d3;
  border-radius: 10px 10px 0 0;
	box-shadow: 33px 0 0 #fce2d3;
}
@keyframes tail {
	0% {
  	transform: rotate(-47deg);
	}
	100% {
  	transform: rotate(-57deg);
	}
}
.dog-tail {
	width: 10px;
  height: 50px;
  position: absolute;
  top: 120px;
  left: calc(50% - 45px);
  background-color: #ecc093;
  transform: rotate(-47deg);
  border-radius: 10px 0 0 0px / 50px 0 0 0px;
	animation: tail .08s infinite alternate;
}
.ball {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 0;
	right: 0px;
	border-radius: 50%;
	background-color: #583258;
}

/*--------------------------------------------------Meet Our Team--------------------------------------------------*/
.team, .team-heading{
    margin-bottom: -80px !important;
    margin-top: 50px !important;
}
.heading{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    font-family: 'Dosis', sans-serif;
    color: #583258;
    font-size: 40px;
}
.team-heading{
    margin-bottom: -50px !important;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 10px;
    font-family: 'Dosis', sans-serif;
    color: #583258;
}

.box-container {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.box-container .card {
  position: relative;
  width: 300px;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f6fa;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
  margin-left: 30px !important;
  margin-right: 30px !important;
  font-family: 'Montserrat', sans-serif;
}
.box-container .card:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#a976b6), to(#576574));
  background: linear-gradient(to bottom, #a976b6, #576574);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.box-container .card:hover:before {
  height: 180px;
}
.box-container .card:hover .social {
  margin-top: 40px;
}
.box-container .card:hover .pic {
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 1px #888;
}
.box-container .card:hover .content {
  margin-top: 90px;
}
.box-container .card .social {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 0;
  margin-top: -30px;
  text-align: center;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
}
.box-container .card .social a {
  text-decoration: none;
  color: #2d3436;
  padding-right: 8px !important;
  padding-bottom: 10px !important;
  font-size: 18px;
  color: #fff;
}
.box-container .card .pic {
  position: relative;
  left: 50%;
  top: 20%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 140px;
  height: 140px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
  background: #fff;
}
.box-container .card .pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.box-container .card .content {
  margin-top: 90px;
  text-align: center;
  padding: 0 30px;
  color: #2d3436;
  -webkit-transition: margin-top 0.5s ease;
  transition: margin-top 0.5s ease;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase !important;
  padding-bottom: 30px;
}
.box-container .card .content .title {
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-transform: uppercase !important;

}
.box-container .card .content span {
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase !important;

}
.box-container .card .content p {
  margin: 20px 0;
  font-size: 12px;
  line-height: 1.6;
  color: #b0b0b0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase !important;

}
.about-info{
  background: -webkit-gradient(linear, left top, left bottom, from(#a976b6), to(#576574));
  background: linear-gradient(to bottom, #a976b6, #576574);  
  background-size: cover;
}
.about-info p{
  padding: 60px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  line-height: 30px;
}







.footer-container{
  padding-left: 65px;
  padding-right: 70px;
}
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#a976b6), to(#576574));
  background: linear-gradient(to bottom, #a976b6, #576574);  
  background-size: cover;
  
}

.footer .card{
  background-color: transparent;
 border: none;
}

.first {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
}

  .first h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }

      .first h4::after {
          content: '';
          background: #d382c4;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
      }

  .first p {
      font-size: 14px;
  }
  .first p{
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: -15px;
  }

.second {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second2 {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.second h4 {
  font-size: 20px;
  letter-spacing: 3px;
  position: relative;
  margin-bottom: 20px;
  font-size: 1.6em;
  color: #fff;
  padding-bottom: 0.5em;
}

  .second h4::after {
      content: '';
      background: #d382c4;
      width: 20%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 40%;
  }


.second li {
  list-style: none;
  padding-bottom: 30px;
}

.second a, .second2 a {
  color: rgb(206, 206, 206);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

  .second a:hover, .second2 a:hover {
      color: #fff;
      transition: 0.2s;
      text-shadow: 1px 1px 20px rgba(0,0,0,1);
      text-decoration: none

  }



.third {
  margin-top: 40px;
  margin-bottom: 50px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
}


  .third h4 {
      font-size: 20px;
      letter-spacing: 3px;
      position: relative;
      margin-bottom: 20px;
      font-size: 1.6em;
      color: #fff;
      padding-bottom: 0.5em;
  }


      .third h4::after {
          content: '';
          background: #d382c4;
          width: 20%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 80%;
      }



  .third li {
      list-style: none;
      padding-bottom: 15px;
  }


  .third a {
      color: rgb(206, 206, 206);
      text-decoration: none;
      letter-spacing: 2px;
      font-weight: 100;
      font-size: 15px;
      transition: 0.2s;
  }
  .third p{
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: -15px;
  }

      .third a:hover {
          color: #fff;
          transition: 0.2s;
          text-shadow: 1px 1px 20px rgba(0,0,0,1);
      }

      i{
        font-size: 17px !important;
        color: #d382c4;
      }


@media screen and (max-width:1000px) {
  .first {
      text-align: center;
  }

      .first h4::after {
          left: 40%;
      }
}

@media screen and (max-width:1000px) {
  .third {
      text-align: center;
  }

      .third h4::after {
          left: 40% !important;
      }
}
.line .second2{
  position: relative;
}
.line .second2 ::after{
  content: '';
  background: #d382c4;
  width: 90%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 80%;
}

.social_profile ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*START SOCIAL PROFILE CSS*/
.social_profile {
  margin-top: 20px;
}
.social_profile ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.social_profile ul li {
  float: left;
}
.social_profile ul li a {
  text-align: center;
  border: 0px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  margin: 0px 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.social_profile ul li a i {
  padding: 10px;
  padding-right: 10px;
  font-weight: 100;
}
.social_profile p{
  padding-top: 10px;
  letter-spacing: 3px;
  color: rgb(206,206,206);
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .social_profile ul li a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .social_profile ul li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
}
.social_profile ul li a:hover {
  background: #d382c4;
  border: 1px solid #d382c4;
  color: #ffffff !important;
  border: 0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
  margin-top: 70px;
  padding-top: 40px;
  color: #fff;
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  text-align: center;
}
.copyright a {
  color: #01c7e9;
  transition: all 0.2s ease 0s;
}
.copyright a:hover {
  color: #ff3666;
}




.bounce-in-bottom {
	-webkit-animation: bounce-in-bottom 1.1s both;
	        animation: bounce-in-bottom 1.1s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-3 20:3:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.tracking-in-expand-fwd-bottom {
	-webkit-animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-3 20:5:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(500px);
            transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
