
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
.main-container {
    padding: 20px;
    flex-grow: 1;
    overflow: auto;
    background-color: #fff;
  }
.profile {
  position: relative;
  height: 40vh;
  min-height: 250px;
  max-height: 350px;
  z-index: 1;
}
.profile-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
.profile:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background-image: url("https://images.unsplash.com/photo-1508247967583-7d982ea01526?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(50px);
    opacity: 0.4;
  }
  .profile-avatar {
    position: absolute;
    align-items: center;
    display: flex;
    z-index: 1;
    bottom: 16px;
    left: 24px;
  }
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  .profile-name {
    margin-left: 24px;
    margin-bottom: 24px;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
  }
  .profile-menu {
    position: absolute;
    bottom: 0;
    padding-left: 200px;
    background: #fafafa;
    min-width: 100% !important;
    display: flex;
    border-radius: 0 0 4px 4px;
    overflow-x: hidden;
  }
  .profile-menu {
    padding-left: 0;
    min-width: 100% !important;
    overflow: auto;
    justify-content: center;
    overflow-x: hidden;
    box-shadow: 5px 8px  #745a7a65;
  }
  .profile-menu-link {
    padding: 20px 16px;
    color: #5c5e6e;
    transition: 0.3s;
    cursor: pointer;
  }
  .profile-menu-link.active, .profile-menu-link:hover {
    color: #1b1d2e;
    background-color: #fff;
    border-bottom: 3px solid #1488fa;
  }
  .timeline {
    display: flex;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }
  .timeline-left {
    width: 350px;
    flex-shrink: 0;
  }
  .intro {
    padding: 20px;
  }
  .intro-box{
      background-color: #ffffff;
    /*background: linear-gradient(to bottom, #a976b6, #576574);*/
    border-radius: 10px;
    box-shadow: 5px 8px  #745a7a65;
  }
  .intro-title {
    font-family: "DM Sans", sans-serif;
    color: #1b1d2e;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  .intro-menu {
    background-color: #8f98a9;
    box-shadow: -8px 0 0 0 #202838, 8px 0 0 0 #2a3344;
    width: 5px;
    height: 5px;
    border: 0;
    padding: 0;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 8px;
  }
  .info {
    font-size: 15px;
    padding: 10px;
  }
  .info-item {
    display: flex;
    color: #1b1d2e;
  }
  .info-item + .info-item {
    margin-top: 14px;
  }
  .info-item span {
    padding-left: 6px;
    color: #1b1d2e;
    text-decoration: none;
    font-weight: 800;
  }
  .info-item i{
    font-size: 16px;
    margin-right: 10px;
    margin-top: 2px;
  }
  .event {
    position: relative;
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    /*background: linear-gradient(to bottom, #a976b6, #576574);*/
    border-radius: 10px;
    box-shadow: 5px 8px  #745a7a65;
    width: 350px;
  }
  .event-wrapper {
    position: relative;
  }
  .event-title {
    font-family: "DM Sans", sans-serif;
    color: #1b1d2e;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  .event-body{
      margin: 10px;
  }
  .event .card{
    border: none;
    background-color: #796475cc;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 10px;
  }
  .event .last-vet-check-title{
    color: #fff !important;
    text-align: center;
    padding: 20px;
  }
  .icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #352b33;
    font-size: 2rem;
    width: 80px;
    height: 80px;
    background-color: #473945;
    box-shadow: 5px 6px  #745a7a80;
}
.icon-wrapper i {
    color:#fff;
}
.event .last-vet-check-date{
    color: #fff;
    text-align: center;
    font-size: 10px;
    margin-top: -20px !important;
}
.timeline {
    display: flex;
    padding-top: 20px;
    position: relative;
    z-index: 2;
  }
.timeline-right {
  flex-grow: 1;
  padding-left: 20px;
}
.album {
  padding-top: 20px;
  margin-top: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 8px  #745a7a65;
}
.album .status-main {
  border: none;
  display: flex;
}
.album-detail {
  width: calc(100% - 110px);
}
.album-title span {
  color: #1771d6;
  cursor: pointer;
}
.album-date {
  font-size: 15px;
  color: #595c6c;
  margin-top: 4px;
}
.album-content {
  padding: 0 20px 20px;
}
.album-photo {
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  margin-top: 10px;
}

.album-photos {
  display: flex;
  margin-top: 20px;
  max-height: 30vh;
}
.album-right {
  width: 50%;
  margin-left: 10px;
  line-height: 0;
  display: flex;
  flex-direction: column;
}
.status-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.status-main {
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #272a3a;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .timeline {
    flex-wrap: wrap;
  }
  .timeline-left {
    width: 100%;
  }
  .timeline-right {
    padding-left: 0;
    margin-bottom: 20px;
  }
 
}
@media screen and (max-width: 500px) {
  .status-menu {
    font-size: 14px;
  }
  .status-menu-item + .status-menu-item {
    margin-left: 0;
  }
}
@media screen and (max-width: 1320px) {
  .status-action {
    width: 16px;
    overflow: hidden;
    color: transparent;
    white-space: nowrap;
  }
}
@media screen and (max-width: 1210px) {
  .overlay.active {
    z-index: 3;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}
@media screen and (max-width: 930px) {
  .left-side-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 0;
    padding: 0;
    line-height: 0;
    color: #1b1d2e;
    border-bottom: 1px solid #272a3a;
  }
  .left-side-button svg {
    transition: 0.2s;
    width: 24px;
  }
  .left-side-button svg:last-child {
    position: absolute;
    left: 50%;
    transform: translate(100%, -50%);
    top: 50%;
    opacity: 0;
  }
}
@media screen and (max-width: 1210px) {
  .right-side-button {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .profile-avatar {
    top: -25px;
    left: 50%;
    transform: translatex(-50%);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .profile-img {
    height: 100px;
    width: 100px;
  }

  .profile-name {
    margin: 5px 0;
  }

  .profile-menu {
    padding-left: 0;
    width: 100%;
    overflow: auto;
    justify-content: center;
  }

  .profile-menu-link {
    padding: 16px;
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .profile-menu-link:nth-last-child(1),
  .profile-menu-link:nth-last-child(2) {
    display: none;
  }
}