.navbar{
    background-color: white !important;
}
.logo{
    width: 150px;
    height: 160px;
    padding: 10px;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 30px !important;
    text-align: center;
    text-transform: capitalize;
    color: #583258;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}
i{
    display: none;
    padding-right: -50px !important;
    font-size: 30px;
    text-align: center;
    color: #583258;
}
.nav-link:hover + i{
display: block;
}
.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background:#583258;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}
 
/*#630063*/


