<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="furbabies">
                <h1 class="heading">Meet the Furbabies</h1>
            </div>
        </div>
        
    </div>
</div>
<div class="container" >
    <div class="row">
      <div *ngFor="let doggo of doggos">
        <div class="profile profile-smallimg">
            <div class="profile__image"><img src="{{doggo.doggoProfilePic}}" alt="Doggo"/></div>
            <div class="profile__info">
              <h3>{{doggo.doggoName}}</h3>
            </div>
            <div class="profile__cta"><a class="button" [class.selected]="doggo === selectedDoggo"(click)="onSelect(doggo)">View {{doggo.doggoName}}'s Furbook</a></div>
          </div>
      </div>
    </div>
</div>
<!-- <section>
    <div class="profile profile-smallimg">
      <div class="profile__image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/></div>
      <div class="profile__info">
        <h3>Doggo Dogg</h3>
        <p class="profile__info__extra">A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.</p>
      </div>
       <div class="profile__stats">
        <p class="profile__stats__title">Type</p>
        <h5 class="profile__stats__info">Puppy</h5>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Size</p>
        <h5>Medium</h5>
      </div>
      <div class="profile__stats">
        <p class="profile__stats__title">Weight</p>
        <h5 class="profile__stats__info">45.85 lbs</h5>
      </div> 
      <div class="profile__cta"><a class="button">Adopt Doggo!</a></div>
    </div>
  </section> -->